header{
    background-color: black; /*colocar cor de fundo*/
    display: block;
    font-size: 50%; /*colocar tamanho da fonte*/ 
    color: aliceblue; /*colocar cor da fonte*/
    width: 30%; /*colocar largura da janela*/
    height: 10%; /*colocar calcura do espaco do cabecalho*/
    text-align: center; /*alinha o texto do titulo*/
    justify-content: space-between; /*colocar espaco entre os objetos do cabecalho*/
    align-items: center;
    margin: 1cqi; /*alinha os objetos ao centro vertical de espaco*/
}
.logotipo{
    width: 100px;
    padding: 25px;
    margin: 10px;
    background-color: green; /* Define a cor de fundo para verde */
}
.botao-login{
    background-color: blueviolet;
    border-radius: 45%;
    border: none;
    color: rgb(184 92 92);
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    transition-duration: 0,4s;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #5aa15e #adca5a);
    color: red; /* Define a cor do texto para vermelho */
}
body {
    background-color: #f5f5f5;
    color: #333; /* Cor do texto padrão */
}

.titulo_smart {
    display: block;
    text-align: center;
    color: blue;
    border: 45%;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    transition-duration: 0,4s;
    cursor: pointer;
    border-radius: 45%;
    border: none;

}

.container {
    background-color: yellow;
    text-align: center;
}

.botao_login {
    background-color: green;
    color: white;
}