body{
    background-color: chocolate;
    display:
}

.header{
    background-color: black;
    font-size: 15%;
    color: aliceblue;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: inherit;

}
.botao-login{
    background-color: blueviolet;
    border-radius: 20%;
    border: none;
    color: rgb(184 92 92);
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0,4s;
    cursor: pointer;
    
}
   
